@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap');
:root{
--Purple100: hsl(275, 100%, 97%);
--Purple600: hsl(292, 16%, 49%);
--Purple950: hsl(292, 42%, 14%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
html{
    font-size: 16px;
}
body{
    background-color: var(--Purple100);
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 150%;
}
section{
    background-color: white;
    width: 90%;
    position: absolute;
    top: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.2rem;
    color: var(--Purple950);
    border-radius: 0.5rem;
    box-shadow: 5px -5px 100px rgba(127, 116, 116, 0.377);
}
.main-image > img{
    content: url('./assets/images/background-pattern-mobile.svg');
}
.heading{
    display: flex;
    gap: 1rem;
}
h1{
    font-weight: 700;
}
.heading > img{
    width: 1.5rem;
}
.question{
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
}
button{
    background-image: url('./assets/images/icon-plus.svg');
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    padding: 1rem;
}
.answer{
    display: none;
    padding-right: 1rem;
    margin-bottom: 1rem;
    color: var(--Purple600);
}
button.clicked{
    background-image: url('./assets/images/icon-minus.svg');
}
@media screen and (min-width:432px){
    .main-image > img{
        content: url('./assets/images/background-pattern-desktop.svg');
    }
    main{
        margin-bottom: 62%;
    }
    section{
        width: 500px;
        left: 40%;
    }
}
@media  screen and (min-width:800px) {
    html{
        font-size: 18px;
    }
    section{
        width: 650px;
        left: 30%;
        padding: 1.75rem;
    }

}